@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: white;
  --text-weight: 600;
  --text-element-size: 14px;
  --background-black: #111111;
  --font-roboto:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MODIFICADORES REUTILIZABLES */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* HEADER */

header > nav {
  background-color: #111111;
  padding: 10px 24px;
}

.logo--section {
  align-items: center;
}

.logo__container {
  display: flex;
  align-items: center;
  gap: 22px;
}

.logo-icon > img {
  width: 30px;
  height: 30px;
}

.logo-icon {
  align-items: center;
  text-align: center;
  display: flex;
  gap: 1px;
}

.logo-content {
  color: white;
  display: flex;
}

.logo-ubicacion{
  font-size: 10px;
  font-weight: 300;
  color: rgb(211, 208, 208);
  position: relative;
  padding: 0 0 18px 6px;
}

nav {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.btn-menu {
  background-color: #000000;
  border: none;
  border-radius: 50%;
  font-size: 18px;
}

.btn-menu > i {
  color: white;
}

/* segundo elemento */
.nav--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__element {
  align-items: center;
}
.nav__element > .row {
  align-items: center;
}
.nav__element > .row > div {
  align-items: center;
}
.w_100 {
  width: 100%;
  max-width: 650px;
}

.nav___element__button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #3a3a3a;
  background-color: #28292a;
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.nav__search-icon {
  fill: white;
}
.nav__search {
  border: 1px solid #3a3a3a;
  background-color: black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  padding: 5px 0 5px 15px;
  width: 100%;
  height: 35px;
}

.nav__btn {
  background-color: #28292a;
  border: none;
  border-radius: 50%;
  padding: 5px;
  margin-left: 16px;
}

.nav__mic-btn {
  pointer-events: none;
  display: inherit;
  fill: white;
}

/* 3er elemento */
.end-section {
  display: flex;
  align-items: center;
}
.section__element {
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.create-button {
  color: white;
  background-color: #474849a6;
  border: none;
  border-radius: 100px;
  font-weight: var(--text-weight);
  font-size: var(--text-element-size);
  padding: 5px 12px;
}
.create-button__icon {
  fill: white;
}

.section__bell-icon {
  pointer-events: none;
  display: inherit;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__bell {
  background-color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__user {
  border: none;
  background-color: #474849a6;
  border-radius: 100%;
  color: white;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main section */

.main-grid {
  display: grid;
  grid-template-columns: 5% 95%;
  height: 100vh;
  padding-left: 2px;
}
.bgc {
  background-color: var(--background-black);
}
.main__element {
  border: 2px dotted pink;
}
.grid__side-menu {  
  padding: 0px 3px;
}
.btn__menu {
  align-items: center;
  padding: 14px 0 14px;
  fill: white;
  border: none;
}
.btn-label {
  color: var(--text-color);
  font-size: 10px;
  padding-top: 8px;
}
.category_section{
  padding: 14px 26px;
  gap: 8px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.category_element {
  background-color: #272727;
  color: var(--text-color);
  font-weight: var(--text-weight);
  font-family: var(--font-roboto);
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
}

.element_active{
  background-color: white;
  color: black;
}

.category_arrow{
border: 1px solid yellowgreen;
padding: 0px 2px;
border-radius: 60%;
}

.grid__videos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;  
  padding: 18px 24px;
}
.video_element{  
  border-radius: 8px;
  color: white;
  width: 100%;
  max-width: 420px;
  
}
.video__img{
  width: 100%;  
  height: 220px;  
  object-fit: fill;
  border-radius: 8px;

}



